/* NAV BAR */
.navbar{
    width: 100%;
    background: #333333;
      
}

#logo {
    margin-right: 20px;
}

.nav-item{
    margin-right: 13px;
}

.navbar-brand{
    font-weight: 600;
    font: bold;
}


/* FONT */

h1{
    font-family: 'Open Sans', sans-serif;
}
h3{
    font-family: 'Open Sans', sans-serif;
}

h4{
    font-family: 'Open Sans', sans-serif;
}

/* CONTAINERS */

#coming-soon{
    margin: 0px;
    height: 100%;
}


#contact{
    /* margin: 0px; */
    height: 100%;
    padding-left: 40px;
    
}

.form-control{
    width: 400px;
}

/* FOOTER */

footer{
    background: #333333;
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    padding: 20px;

}

/* SOCIAL MEDIA ICONS  */

#facebook,
#instagram,
#twitter {
    font-size: 100px;
    margin-right: 40px;
    text-align: center;
    color: black;
    max-width: 150px;


}   


 
